
* {
  margin: 0 ;
  padding: 0;
  border: 0;
}
.wrapper {
  min-width: 100%;
  font-family:Sofia Pro Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #265cc5;
 }
 /*    ------------------------------------------------ header  */
header {
  background: #0065c3;
 }
li {
  list-style-type: none;
}
li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bolder;
}
.header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.header_section {
   display: flex;
   flex-direction: row;
   min-height: 5.5em;
   align-items: center;
}
.header_logo {
  margin: 0px 25px 0px 40px;
}
.header_menu {
  margin: 0px 0px 0px 40px;
}    
.menu_list {
 display: flex;
}
.menu_list_block:hover{
  opacity: 0.7;
}
.menu_list_block:not(:last-child) {
  margin: 0px 45px 0px 0px;
}
.header_menu_2 {
margin:  0px 0px 0px 30px;
}
.menu_list_block_2 {
  border: 2px solid #fff;
  padding: 5px 25px;
  margin: 0px 0px 0px 585px;
  border-radius: 55px;
  text-align: center;
}
i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 4px;
}
.down {
  transform: rotate(45deg);
}
/*    ------------------------------------------------------- Main  */
.main {
  flex: 1 1 auto;
}
.main_block_image-main_fon {
  position: relative;
  overflow: hidden;   
  display: flex;
  justify-content: center;
}
#object-position {
  width: auto;
  height: 42rem;
}
.main_bloc-image  {
  position: absolute;
  left: 0rem;
}
._image1 {
  margin-top: 3rem;
  margin-left: 62rem;
  z-index: 3;
}
._image2 {
  margin-top: 9.5rem;
  margin-left: 10rem; 
  z-index: 3;
}
._image3 {
  margin-top: 1rem;
  margin-left: 17rem;
  z-index: 3;
}
.span_main {
  position: absolute;
  font-size: 1.3rem;
  letter-spacing: 4px;
  color: #10428c;
  font-weight: bolder;
  margin-top: 22.5rem;
}
.video_main {
  position: absolute;
  text-align: center;
  margin-top: 25rem;
  z-index: 3;
}
.form_buttom_main {
  position: absolute;
  text-align: center;
  margin-top: 38.5rem;
}
.buttom_main_button {
  background-color: #fff;
  border: 2px solid #e81638;
  padding: 3px 35px;
  border-radius: 50px;
  font-weight: bolder;
  font-family: Helvetica, Arial, sans-serif;
  color: #e81638;
  font-size: 1rem;
}
/*---------------------------------------------------------------------- main_ */
.main_main2 {
  position: relative;
}
.main-flexbox { 
  min-height: 40rem;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.main-flexbox-block_1 {
  flex-grow: 1;
}
.main-flexbox-block_2 {
 flex-grow: 1;
 width: 100%;
 min-height: 100%;
}
.main_main_image{
  display: flex;
  align-items: stretch;
  min-height: 100%;
}
.main-conteiner img {
 object-fit: cover ; 
 overflow: hidden;
}
.conteiner-lodo {
  position: absolute;
  padding-left: 22rem;
  bottom: 1rem;
}
.video-gallery {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.video-gallery-1{
  flex: 1;
}
.video-gallery-2{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}
.video-video-gallery-2{
 flex: 1;
 display: flex;
 flex-direction: column;
}
.button-video-gallery-2{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 100%;
}
.button-video-2 {
flex: 1;
}
.button-video-3{
flex: 1;
}
.video-gallery-3{
  flex: 1;
}
.main_main_video {
  display: flex;
  flex-direction: row;
}
.video-content  {
  flex: 6;
}
.video-content video {
  width: 100%;
  margin-bottom: -4px;
}
.video-back{
  flex: 1;
}
.form_buttom_video {
  flex: 9;
  background-color: #043eb3;
}
.buttom_video{
  color: #fff;
  background-color: #043eb3;
  font-size: 1rem;
  min-width: 100%;
  font-weight: bold;
  line-height: 1.5rem;
}
 /*---------------------------------------------------------------------------- main_3 */
.main_3 {
  position: relative;
}
.main_block_3 {
  min-height: 20rem;
  padding-top: 4em;
  background-color:#0065c3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
}
.main_block_bottle {
  flex: 3;
  min-height: 100%;
}
.main-flex-block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
#main_block_bottle_image_ {
  object-fit: cover;
  object-position: center;
}
.main_block_text {
  flex: 2;
}
.main_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
.block_text-1 {
  flex-grow: 3;
}
.block_text-2 {
 flex-grow: 1;  
}
.block_text-3 {
  flex-grow: 3;
}
.block_text-center {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
.block_text-2_flex {
flex: 1;
}
.block_text-2_flex-2 {
  flex: 6;
}
/* ------------------------------------------------------------------------main_4 */
.main_4 {
position: relative;
background-color: #0065c3;
height: 100%;
width: 100%;
padding: 6rem 0rem;
}
.main_flexbox_main {
display: flex;
flex-direction: row;
justify-content: center;
min-height: 100%;
}
.main_flexbox_main_1 {
flex: 1;
}
.main_flexbox_main_2 {
  flex: 8;
}
.main_main_flex{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main-main-flex-1 {
flex-grow: 1;
}
.main-main-flex-2 {
flex-grow: 2;
}
.main_flexbox_main-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
}
.main_flex-main-1 {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
.main_flex-main-2 {
  flex: 1;
}
.main_flex-main-3 {
  flex: 7;
}
.flex-main-main-1 {
flex: 2;
}
.flex-main-main-2 {
  flex: 1;
}
.flex-main-main-3 {
  flex: 1;
}
.flex-text-1 {
  font-size: 3rem;
  line-height: 1em;
  font-weight: bold;
  font-family:  Arial,sans-serif;
  color: #fff;
  text-align: left;
}
.flex-main-main-2 span {
  color: #ffffff;
  font-family: Sofia Pro Regular, sans-serif;
  line-height: 1.5em;
  font-size: 0.9rem;
  text-align: left;
}
.button-flex-3 {
  display: block;
  border: 2px solid #ffffff;
  border-radius: 50rem;
  padding: 0.5em 2.5em;
  font-size: 0.8em;
  color: #ffffff;
  background-color: #0065c3;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bolder;
  }
.button-flex-3:hover {
  animation-name: color-color;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.button-flex-3 p:hover {
  transition: 0.8s;
  transform: rotateX(360deg);
}
@keyframes color-color {
  from {background-color: #0065c3;
  color: #ffffff;}
  to { background-color: #ffffff;
       color: #0065c3; }
}
/*---------------------------------------------------------------------- main_5 */
.main_5 {
position: relative;
height: 21rem;
background-color: #fff;
}
.main-5-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
}
.main-5-flexbox-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
.main-5-flexbox-gallery {
 flex: 5;
 display: flex;
 flex-direction: row;
 max-width: 100%;
 min-height: 100%;
}
.main-5-text-1 {
flex: 1;
}
.main-5-text-2 {
  flex: 3;
}
.main-5-text-2 span {
font-size: 2.7rem;
font-weight: 900;
font-family:  Arial,sans-serif;
color:#0065c3;
}
.main-5-text-2 span br {
  display: none;
}
.main-5-gallery-1 {
flex: 2;
}
.main-5-gallery-2 {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}
.main-gallery-2 {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: flex-end;
 overflow: hidden;
}
.main-gallery-logo {
   position: absolute;
   z-index: 50;
   min-width: 2em;
   padding: 1em;
}
.main-gallery-2 img {
  transition: 0.4s;
}
.main-gallery-2 img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
/*-------------------------------------------------------------------- Footer */
.footer_media {
  display: none;
}
.footer {
  position: relative;
  height: 18rem;
  background-color: #0065c3;
  padding: 0em 2.3em;
}
.footer-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-width: 100%;
  min-height: 100%;
}
.footer-flexbox-1{
flex: 1;
}
.footer-flexbox-2{
  flex: 2;
}
.footer-flexbox-3{
  flex: 6;
  display: flex;
  flex-direction: row;
}
.footer-flexbox-4{
  flex: 3;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}
.fotter-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
.fotter-logo-1{
  flex-grow: 5;
}
.fotter-logo-2{
  flex-grow: 1;
}
.footer-text-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
.footer-text-flex-2 span {
  color: #ffffff;
  font-family: Sofia Pro Regular, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}
.footer-nav-1 {
  flex: 1;
}
.footer-nav-2 {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
}
 .footer-nav-3 {
  flex: 2;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: end;
  align-items: center;
}
 .footer-nav-4 {
   flex: 2;
}
.footer-button button{
  border: 2px solid #ffffff;
  border-radius: 50rem;
  padding: 0.5em 2.2em;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #0065c3;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
}
.footer-nav-social {
  flex: 1;
  padding: 1em;
}
/*----------------------------------------------------------------------------- media */
@media screen and (max-width:1023px) {
.body {
  min-width: 100%;
} 
._media {
  display: none;
}
i {
  display: none;
}
.main-flexbox { 
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.conteiner-lodo {
  display: none;
}
.button-flex-3 {
  margin: 1rem 0rem;
}
.flex-main-main-2 span br {
  display: none;
}
.flex-text-1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.main_5 {
  position: relative;
  height: 116rem;
}
  .main-5-text-2 span {
    font-size: 1.8rem;
    font-weight: 900; 
  }
.main-5-gallery-2 {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  display: none;
}
.footer_media {
  display: block;
  position: relative;
  height: 27rem;
  background-color: #0065c3;
  min-width: 100%;
}
.media-1023 {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.media-block-1 {
  flex: 5;
}
.media-block-2 {
  flex: 0.01;
  background-color: #ffffffd8;
}
.media-block-3 {
  flex: 2;
}
.block-block {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}
.block-2 {
  text-align: center;
  padding-top: 5rem;
}
.block-2 span {
  color: #ffffff;
  font-family: Sofia Pro Regular, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
.block-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100%;
  min-width: 100%; 
}
  .block-image-1 {
flex: 0.5;
   padding-top: 2rem;
   padding-left: 2rem;
}
.block-image-2 {
  flex: 8;
}
.block-image-3 {
  flex: 2;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-right: 2rem;      
}
.image-social {
  padding-right: 0.5rem;
}
}

@media screen and (max-width:562px) {
.main_3 {
  min-height: 1rem;
}
.main_block_3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  min-height: 100%;
}
#main_flex-main-pepsi {
  padding-top: 9rem;
}
.main_5 {
  height: 10rem;
}
.main-5-flexbox {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}
.main-5-text-1 {
  flex: 1;
}
.main-5-flexbox-text {
  flex: 2;
}
.main-5-text-2 {
  flex: 8;
  text-align: center;
}
.main-5-text-2 span {
  font-size: 2.3rem;   
  line-height: 2rem;
}
.main-5-text-2 span br {
  display: block;
}
.main-5-flexbox-gallery {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%;
}  
.main-5-gallery-2 {
  flex-wrap: nowrap;
}
}